/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.core();
@import "@angular/material/prebuilt-themes/purple-green.css";

html,
body {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  place-content: center;
}

.container {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
